@using DataAccessLayer.Entities
@model List<Order>
@{
    Layout = "RegisterLayout"; 
}

<h2>MyOrders</h2>

@foreach (var order in Model)
{
    <div class="card mb-3 p-3">
        <p><strong>OrderNumber:</strong> @order.OrderId</p>
        <p><strong>OrderDate:</strong> @order.OrderDate</p>
        <p><strong>OrderStatus:</strong> @order.Status</p>
        <p><strong>Total:</strong> @order.TotalAmount</p>
        <a class="btn btn-info" href="@Url.Action("OrderDetails", "Order", new { id = order.OrderId })">Details</a>
    </div>
}